root = true

[*.{js,jsx,mjs,cjs,ts,tsx,json,css,md,html}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{png,jpg,jpeg,gif,mp4,webm,ico,pdf}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
